@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gradient-to-b from-[#0b1121] to-[#0f172a] text-white min-h-screen;
}

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 11, 17, 33;
    --background-end-rgb: 15, 23, 42;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb))) no-repeat;
    min-height: 100vh;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}